.ant-select-dropdown{
    width: 25% !important;
}
.background-color{
    background-color: rgb(242, 242, 245);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 55px 25px;
}
.ant-select-selection-placeholder{
    font-weight: bold;
    color: black;
}
.ant-select-selection-placeholder:hover{
    color: blue !important;
}
.ant-tabs-tab-btn{
    font-weight: bold;
}
/* #rc-tabs-0-tab-2{
    font-weight: bold;
} */
#rc-tabs-0-tab-3{
    font-weight: bold;
}
ul{
    list-style: none;
}
.list-box{
    margin: 0px 0px 40px 10px;
    font-size: 19px;
}
.ant-picker-input>input::placeholder {
    font-weight: bold;
    color: black;
 }
.ant-input-group .ant-input{
    font-weight: bold !important;
}
/* .ant-select-item-option{
    padding: 0 !important;
} */
.star-option{
    padding: 0 !important;
}
.star-option ul{
    padding-left: 20px !important;
    margin-right: 20px !important;
}
.checkbox-label{
    width: 130px !important
}
.list-box-product{
    margin: 0px 0px 20px 10px;
    font-size: 15px;
}